body {
  background-color: #eeeeee;
}

a,
button {
  cursor: pointer;
}

.book {
  width: auto;
  height: 4vw;
  max-width: 4vw;
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #88bbff;
}

.title {
  font-family: 'Playfair Display', serif;
}

.postInfo {
  background-color: #99ccff;
  padding: 5px 0 5px 0;
}

.post {
  margin: 0;
  padding: 20px;
}